.contador{
display: flex;
border: 3px solid #108888;
max-width: 90px;
justify-content: space-evenly;
padding: 5px;
border-radius:10px;
align-items: center;
font-size: 18px;
}

.contador button{
    background-color: #108888;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    
}